<!DOCTYPE html>
<html lang="en">

<head>
  <title>Memes Central</title>
  <!-- Include Head Partial -->
  <%- include('./partials/head.ejs') %>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <!-- Include Navbar Partial -->
  <%- include('./partials/navbar.ejs') %>

  <header id="home">
    <div class="container-fluid header-content">
      <div class="row">
        <div class="col">
          <div class="content-box text-center text-light">
            <h1>Meme Central</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Include Scripts Partial -->
  <%- include('./partials/scripts.ejs') %>
</body>

</html>
